:root {
    /* color references */
    --black: rgb(0, 0, 0);
    --darkgrey: rgb(62, 54, 54);
    --red: rgb(215, 35, 35);
    --offwhite: rgb(245, 237, 237);
}
body {
    /* primary body styling */
    display: flex;
    flex-direction: column;
    background-color: var(--offwhite);
    color: var(--black);
}
header {
    /* header styling to set up navigation bar and the top of website */
    display:flex;
    flex-wrap:wrap;
    background-color: var(--red);
    color: var(--offwhite);
    align-items: center;
}
#homelogo {
    /* styling for logo at top-right of page */
    display: flex;
    width: 15%;
    max-width: 125px;
    background-color: white;
}
#navcontent {
    /* styling for navigation bar content */
    display: flex;
    width: 85%;
    justify-content: space-between;
    padding:0px;
}
h1 {
    /* styling for the title withing h1 */
    display:flex;
    font-size: 350%;
    font-weight: 900;
    justify-content: left;
    padding: 0px 10px;
}
nav {
    display: inline-flex;
    align-items: center;
    justify-content: right;
}
nav ul {
    /* styling for navigation bar menu */
    display:inline-flex;    
    font-size: 125%;
    padding:10px;
    gap: 20px;
}
nav ul li {
    /* styling for link list in navigation bar */
    justify-content:space-between;
}
nav ul li a {
    /* styling for nav bar links */
    color: var(--offwhite);
    text-decoration: none;
}
#newscarousel {
    /* styling to position the main logo with future adjustments pending a carousel of cycling a few items */
    background-color: var(--darkgrey);
    display:flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content:space-around;
    padding: 25px 150px;
    color: var(--red);
    gap: 10px;
}
.carouselinvite {
    /* styling for tag lines or invites or messages  */
    font-size: 200%;
    font-weight: bolder;
    text-align: center;
}
.carouselimg{
    padding: 5px;
    border: line 5px;
    background-color: var(--red);
}
main {
    /* styling for the main content area of the website */
    display: flex;
    flex-direction: column;
    gap: 25px;
    margin: 0px 200px;
}
.articlecontainer{
    padding:15px;
}
.articletitles {
    display: flex;
    color: var(--red);
    font-size: 200%;
    justify-content: center;
}
.articlecontent {
    padding: 10px;
}
.articleparagraph{
    padding: 10px;
}
.articlecardholder {
    display: flex;
    gap: 10px;
}